<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfirstapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Roleform"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.CharacterSkillsActivity"></activity>
        <activity android:name=".ui.CharacterSpellsActivity" />
        <activity android:name=".ui.CharacterCharacterActivity" />
        <activity android:name=".ui.EditActivity" />
        <activity android:name=".ui.CharacterBagActivity" />
        <activity android:name=".ui.CreateNewItemActivity" />
        <activity android:name=".ui.CreateNewSpell" />
        <activity android:name=".ui.CharacterStatsActivity" />
        <activity android:name=".ui.CreateNewCharacterActivity" />
        <activity android:name=".ui.InfoCreditsActivity" />
        <activity android:name=".ui.CharacterNoteActivity" />
        <activity android:name=".ui.AddNewItem" />
        <activity android:name=".ui.AddNewSpell" />
        <activity
            android:name=".ui.MainActivity"
            android:label="Roleform"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.CharacterActivity" />
    </application>

</manifest>